 @charset "UTF-8";

:root {
    --vermelho_logo: rgb(205, 23, 25);
    --azul_logo: rgb(23, 60, 88);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: linear-gradient(to left, var(--azul_logo), var(--vermelho_logo));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container_form {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    border: 1px solid black;
    box-shadow: 5px 8px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.logo_login {
    width: 95%;
}

.titulo_login {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_user,
.input_password {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.input_user:focus,
.input_password:focus {
    outline: 1px solid darkblue;
}

#button_logar {
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: var(--azul_logo);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#button_logar:hover {
    background-color: var(--vermelho_logo);
}

.cad_user {
    padding-top: 8px;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

.cad_user > a {
    color: black;
    text-decoration: none;
}

.cad_user > a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 480px) {
    .container_form {
        padding: 20px 15px;
    }

    .input_user,
    .input_password,
    #button_logar {
        font-size: 14px;
    }

    .titulo_login{
        font-size: 14px;
    }
}
